<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
 </head>
<body>

<h1>{{title}}</h1>

<br>
{%- include "toolbar.njk" -%} 
<br>

  <div id="myGrid" style="height: 600px;width:100%;" class="ag-theme-alpine"></div>

  <br><br><br>

  <div>
    &nbsp;&nbsp;&nbsp;
    <label for="cstmlink">Link for customer</label>
    &nbsp;&nbsp;&nbsp;
    <a id="cstmlink"   target="_blank" href="{{customerlink | url}}">{{customerlink}}</a>
  <div>

    <script src="https://unpkg.com/@ag-grid-enterprise/all-modules@27.0.1/dist/ag-grid-enterprise.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    

    <script src="./main.js"></script>



<script>
      document.addEventListener('DOMContentLoaded', ()=>MyTools.LoadData('./{{datajson}}.json') );
</script>

</body>

</html>
