<table style="width:100%;">
<tr>

<td><a href="{{ '/' | url }}">Home</a></td>



<td>
<table><tr>
<td><button id="bmonth">Month</button></td>
<td><button id="bweek">Week</button></td>
</tr></table>
</td>






<td>
<table><tr>
<td><button id="first2bars">First 2 Bars</button></td>
<td><button id="last2bars">Last 2 Bars</button></td>
<td><button id="clear2bars">Clear Bars Filter</button></td>
</tr></table>
</td>

<td></td>


<td>
<table><tr>
<td><button id="export2excel">Export to Excel</button></td>
<td><button id="export2csv">Export to CSV</button></td>
</tr></table>
</td>

<td></td>

<td>
    <label for="scale">Scale Bars</label>
    <input type="checkbox"  id="scale" checked />
</td>


</tr>
</table>
