---
permalink: "index.html"
---



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=https://crawler-dashboard.surge.sh" />
 </head>



<body>

<br><br><br><br><br>

<div style="text-align:center;">

<h2>   <a href="{{ 'svodka4tnsqldr.html' | url  }}">Patrick's Dashboard</a>  </h2>

<br><br><br><br><br>

<h2>    <a href="{{ 'svodka4tnsql.html' | url }}">Courtney's Dashboard</a>   </h2>

</div>

</body>

</html>


